In [2]:
import pandas as pd
import numpy as np
import time
import random
import os
import re

import spacy
from spacy.matcher import Matcher
from spacy.tokens import Span

In [3]:
fn = r'C:\Users\markd\projects\Hamilton County Homes'
os.chdir(fn)
# open it...
homes =pd.read_csv('2009 House Sales.csv')

In [4]:
homes = homes.drop('Unnamed: 0',axis=1)
homes.address = homes.address.str.title()

In [5]:
# Initialize the spaCy model and Matcher
nlp = spacy.load("en_core_web_sm")

def is_alphanumeric(token):
    """Check if the token text is alphanumeric."""
    return re.match("^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9]+$", token.text) is not None

def tag_address(address):
    """
    Tag the components of the address using the defined pattern.
    Returns a dictionary with the components tagged.
    """
    doc = nlp(address)
    tagged_components = {'st_num': None, 'apt_num': None, 'street': None}

    # Loop through the tokens to find matches based on conditions
    for i, token in enumerate(doc):
        if i == 0 and token.pos_ == "NUM":
            tagged_components['st_num'] = token.text
        elif i == 1 and is_alphanumeric(token):
            tagged_components['apt_num'] = token.text
        elif i == 1 and token.pos_=='NUM':
            tagged_components['apt_num'] = token.text
        elif i > 0:
            # Concatenate the remaining tokens as the street name
            tagged_components['street'] = " ".join([tok.text for tok in doc[i:]])
            break

    return tagged_components

# Apply the tag_address function to the first 10 addresses for demonstration
address_parts = []
for address in homes.address:
    address_parts.append(tag_address(address))

In [6]:
parts = pd.DataFrame.from_dict(address_parts)

In [7]:
homes = pd.concat([homes,parts],axis=1)

In [8]:
homes

,parcel_number,address,finsqft,use,year_built,transfer_date,amount,total_rooms,bedrooms,full_baths,...,cauv_value,market_improvement_value,market_total_value,tif_value,abated_value,exempt_value,taxes_paid,st_num,apt_num,street
0,001-0001-0059-00,6329 Coffey St,1001,510,1947,07-06-2009,"$139,000",5,3,1,...,0,148380,175000,0,0,0,"$3,747.50",6329,None,Coffey St
1,001-0001-0191-00,6574 Coffey St,1129,510,1952,08-27-2009,"$112,500",6,3,1,...,0,149430,175000,0,0,0,"$3,925.68",6574,None,Coffey St
2,001-0001-0203-00,6564 Rainbow Ln,1129,510,1954,08-03-2009,"$117,000",5,3,1,...,0,134700,160840,0,0,0,"$3,446.93",6564,None,Rainbow Ln
3,001-0001-0424-00,6555 Silverfox Dr,1044,555,2000,06-29-2009,"$142,000",5,2,1,...,0,133500,173500,0,0,0,"$3,699.54",6555,None,Silverfox Dr
4,001-0002-0133-00,2140 Ronaldson Ave,1244,510,1914,03-13-2009,"$102,000",5,2,1,...,0,111500,137910,0,0,0,"$3,030.93",2140,None,Ronaldson Ave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,671-0026-0204-00,1321 Fuhrman Rd,1064,510,1958,06-04-2009,"$105,000",5,3,1,...,0,144220,177070,0,0,0,"$3,256.50",1321,None,Fuhrman Rd
708,671-0027-0041-00,1147 Thurnridge Dr,900,510,1954,08-12-2009,"$113,000",4,2,2,...,0,164030,201270,0,0,0,"$3,708.06",1147,None,Thurnridge Dr
709,671-0029-0098-00,256 West Crest Dr,1224,510,1958,03-04-2009,"$103,000",5,3,1,...,0,147500,189040,0,0,0,"$3,586.50",256,None,West Crest Dr
710,671-0030-0153-00,2617 Honeyhill Ct,1204,510,1958,03-06-2009,"$149,500",5,3,1,...,0,145150,180140,0,0,0,"$2,834.20",2617,None,Honeyhill Ct
711,671-0030-0198-00,2602 Hunt Rd,952,510,1983,08-21-2009,"$149,900",5,3,2,...,0,180590,226480,0,0,0,"$4,296.54",2602,None,Hunt Rd

In [22]:
school_city_map = {
    'CINCINNATI CSD':'Cincinnati', 
    'FOREST HILLS LSD':'Cincinnati',
    'NORTHWEST LSD (HAMILTON CO.)':'Cincinnati',
    'MOUNT HEALTHY CSD':'Cincinnati',
    'MARIEMONT CSD':'Mariemont', 
    'MADEIRA CSD':'Madeira', 
    'SOUTHWEST LSD (HAMILTON CO.)':'Harrison',
    'OAK HILLS LSD':'Cincinnati', 
    'THREE RIVERS LSD':'Cleves',
    'ST. BERNARD-ELMWOOD PLACE CSD':'Cincinnati',
    'FINNEYTOWN LSD':'Cincinnati',
    'WINTON WOODS CSD':'Cincinnati',
    'WYOMING CSD':'Wyoming', 
    'NORTH COLLEGE HILL CSD':'Cincinnati',
    'PRINCETON CSD':'Cincinnati',
    'SYCAMORE CSD':'Montgomery', 
    'INDIAN HILL EVSD':'Indian Hills',
    'DEER PARK CSD':'Cincinnati', 
    'LOVELAND CSD':'Loveland', 
    'NORWOOD CSD':'Norwood', 
    'READING CSD':'Reading'
}

zip_code_map = {
    'CINCINNATI CSD':[45202, 45203, 45204, 45205, 45206, 45207, 45208, 45209, 45211, 45212, 45213, 45214, 
                      45215, 45216, 45217, 45219, 45220, 45223, 45224, 45225, 45226, 45227, 45229, 45230, 
                      45231, 45232, 45233, 45236, 45237, 45238, 45239, 45243, 45244, 45248], 
    'FOREST HILLS LSD':[45226, 45230, 45244, 45255],
    'NORTHWEST LSD (HAMILTON CO.)':[45002, 45014, 45211, 45223, 45231, 45239, 45240, 45247, 45251, 45252],
    'MOUNT HEALTHY CSD':[45218, 45231, 45240, 45251],
    'MARIEMONT CSD':[45174, 45226, 45227, 45243], 
    'MADEIRA CSD':[45227, 45236, 45243], 
    'SOUTHWEST LSD (HAMILTON CO.)':[45002, 45013, 45030, 45033, 45041, 45052, 45053],
    'OAK HILLS LSD':[45002, 45051, 45204, 45211, 45233, 45238, 45247, 45248], 
    'THREE RIVERS LSD':[45001, 45002, 45052, 45233, 45248],
    'ST. BERNARD-ELMWOOD PLACE CSD':[45216, 45217, 45229],
    'FINNEYTOWN LSD':[45215, 45216, 45224, 45231],
    'WINTON WOODS CSD': [45215, 45218, 45231, 45240, 45246],
    'WYOMING CSD':[45215, 45216], 
    'NORTH COLLEGE HILL CSD':[45224, 45231, 45239],
    'PRINCETON CSD': [45040, 45069, 45215, 45240, 45241, 45242, 45246, 45249],
    'SYCAMORE CSD': [45140, 45236, 45241, 45242, 45249], 
    'INDIAN HILL EVSD':[45111, 45140, 45147, 45150, 45236, 45242, 45243, 45249],
    'DEER PARK CSD':[45236, 45242], 
    'LOVELAND CSD':[45140, 45249], 
    'NORWOOD CSD':[45207, 45208, 45209, 45212, 45229], 
    'READING CSD':[45215, 45236, 45237],
    'MILFORD CSD':[45140, 45147, 45150, 45174, 45243, 45244]
}

In [10]:
homes['city'] = homes.school_district.map(school_city_map)
homes['state'] = 'OH'

In [11]:
homes.loc[homes['apt_num'].isna(),'new_address'] = homes['st_num'] +' '+homes['street']+' '+homes['city']+', '+homes['state']
homes.loc[~homes['apt_num'].isna(),'new_address'] = homes['st_num'] +' '+homes['street']+' '+homes['apt_num']+' '+homes['city']+', '+homes['state']

In [12]:
final_df = homes.copy()

In [43]:
import googlemaps
from datetime import datetime

# Initialize the Google Maps client with your API key
gmaps = googlemaps.Client(key='AIzaSyD78cmVLurxyHHHpw9t-yf2YBT39zB5l6o')

def is_only_city_state_country_regex(address):
    # Regex pattern to match strings that might include a country
    pattern = r'^\D+, \D+(, \D+)?$'
    return re.match(pattern, address) is not None

def address_has_no_street_number(address):
    # Regex pattern to match street names without a leading street number
    # This regex assumes that the street number, if present, would typically appear at the start
    pattern = r'^(?!\d+\s)([\w\s]+\s(?:St|Street|Court|Ct|Cir|Circle|Cr|Ave|Avenue|Blvd|Boulevard|Rd|Road|Lane|Ln|Drive|Dr|Terrace|Terr))\b,?[\w\s,]*$'

    return re.match(pattern, address) is not None

def get_address_details_with_cities(address,school_district):
    for zip_code in zip_code_map[school_district]:
        full_address_query = f"{address} {zip_code}"
        # Make the geocoding request
        try:
            response = gmaps.geocode(full_address_query)
        except Exception as e:
            print(f"Geocoding failed for {full_address_query}: {e}")
            continue
        # Filtering the results for only ROOFTOP location types
        rooftop_results = [result for result in response if result['geometry']['location_type'] == 'ROOFTOP']
        if rooftop_results:
            result = rooftop_results[0] 
            formatted_address = result['formatted_address']
            print(formatted_address)
            location = result['geometry']['location']
        # # Check if the formatted address is not just city, state, country
            return {
                'formatted_address': formatted_address,
                'longitude': location['lng'],
                'latitude': location['lat']
            }    
        # Return if no rooftop result found for the current zip code
        print(f"{full_address_query}: No ROOFTOP result found.")
        
    # If no valid address is found after all attempts
    print(full_address_query, "No valid address found.")
    return {'formatted_address': None, 'longitude': None, 'latitude': None}

In [44]:
results_df = final_df[['new_address','school_district']].apply(lambda row: get_address_details_with_cities(row['new_address'], row['school_district']), axis=1).apply(pd.Series)

6329 Coffey St, Cincinnati, OH 45230, USA
6574 Coffey St, Cincinnati, OH 45230, USA
6564 Rainbow Ln, Cincinnati, OH 45230, USA
6555 Silverfox Dr, Cincinnati, OH 45230, USA
2140 Ronaldson Ave, Cincinnati, OH 45230, USA
1954 Sutton Ave, Cincinnati, OH 45230, USA
1806 Wilaray Terrace, Cincinnati, OH 45230, USA
1648 Mears Ave, Cincinnati, OH 45230, USA
1655 Alcor Te Cincinnati, OH 45202: No ROOFTOP result found.
1655 Alcor Terrace, Cincinnati, OH 45230, USA
6209 Dawes Ln, Cincinnati, OH 45230, USA
1354 Bursal Ave, Cincinnati, OH 45230, USA
6031 Wayside Ave, Cincinnati, OH 45230, USA
6009 Wayside Ave, Cincinnati, OH 45230, USA
2111 Sutton Ave, Cincinnati, OH 45230, USA
2454 Cardinal Hill Ct, Cincinnati, OH 45230, USA
2432 S Coveyrun Ct, Cincinnati, OH 45230, USA
1650 Longbourn St, Cincinnati, OH 45230, USA
6002 Stanhill Ct, Cincinnati, OH 45230, USA
2608 Bonnie Dr, Cincinnati, OH 45230, USA
5457 Hanover Cr Cincinnati, OH 45202: No ROOFTOP result found.
5457 Hanover Cir, Cincinnati, OH 45230, USA
1221 Wayside Pl, Cincinnati, OH 45230, USA
6030 Tridale Ct, Cincinnati, OH 45230, USA
275 Sutton Rd, Cincinnati, OH 45230, USA
5921 Linneman St, Cincinnati, OH 45230, USA
1194 Herschel Ave, Cincinnati, OH 45208, USA
4805 Beverly Hill Dr, Cincinnati, OH 45208, USA
5003 Shattuc Ave, Cincinnati, OH 45208, USA
600 Delta Ave APT 8, Cincinnati, OH 45226, USA
3823 Stites Pl, Cincinnati, OH 45226, USA
3573 Handman Ave, Cincinnati, OH 45226, USA
531 Tusculum Ave, Cincinnati, OH 45226, USA
3206 Walworth Ave, Cincinnati, OH 45226, USA
2235 Riverside Dr APT 102, Cincinnati, OH 45202, USA
2017 Calvin Cliff St, Cincinnati, OH 45206, USA
4523 Hector Ave, Cincinnati, OH 45227, USA
6821 Buckingham Pl, Cincinnati, OH 45227, USA
6828 Hurd Ave, Cincinnati, OH 45227, USA
6813 Britton Ave, Cincinnati, OH 45227, USA
7053 Palmetto St, Cincinnati, OH 45227, USA
3646 Ashworth Dr UNIT 205, Cincinnati, OH 45208, USA
3687 Ashworth Dr, Cincinnati, OH 45208, USA
3652 Herschel Ave, Cincinnati, OH 45208, USA
3535 Rawson Pl, Cincinnati, OH 45209, USA
3545 Rawson Pl, Cincinnati, OH 45209, USA
3598 Saybrook Ave, Cincinnati, OH 45208, USA
3628 Saybrook Ave, Cincinnati, OH 45208, USA
3549 Saybrook Ave, Cincinnati, OH 45208, USA
3526 Pembroke Ave, Cincinnati, OH 45208, USA
3542 Pembroke Ave, Cincinnati, OH 45208, USA
3641 Brentwood Ave, Cincinnati, OH 45208, USA
3627 Brentwood Ave, Cincinnati, OH 45208, USA
3519 Pembroke Ave, Cincinnati, OH 45208, USA
3617 Wilshire Ave, Cincinnati, OH 45208, USA
3689 Saybrook Ave, Cincinnati, OH 45208, USA
3616 Parkline Ave, Cincinnati, OH 45208, USA
3624 Parkline Ave, Cincinnati, OH 45208, USA
3610 Pape Ave, Cincinnati, OH 45208, USA
3709 Saybrook Ave, Cincinnati, OH 45208, USA
3623 Tarpis Ave, Cincinnati, OH 45208, USA
3507 Tarpis Ave, Cincinnati, OH 45208, USA
3320 N Sterling Way, Cincinnati, OH 45209, USA
3428 N Club Crest Ave, Cincinnati, OH 45209, USA
3421 N Club Crest Ave, Cincinnati, OH 45209, USA
3766 Marburg Ave, Cincinnati, OH 45209, USA
3329 S Sterling Way, Cincinnati, OH 45209, USA
3325 S Sterling Way, Cincinnati, OH 45209, USA
3306 De Forest Dr, Cincinnati, OH 45209, USA
3405 Oak Ln, Cincinnati, OH 45209, USA
3409 Oak Ln, Cincinnati, OH 45209, USA
10 Greenhouse Ln, Cincinnati, OH 45209, USA
10 Greenhouse Ln, Cincinnati, OH 45209, USA
3346 Marburg Square Ln UNIT 8A, Cincinnati, OH 45209, USA
3346 Marburg Square Ln Unit 8c, Cincinnati, OH 45209, USA
3346 Marburg Square Ln UNIT 8E, Cincinnati, OH 45209, USA
3316 Wasson Rd Unit 4c, Cincinnati, OH 45209, USA
3316 Wasson Rd UNIT 4E, Cincinnati, OH 45209, USA
3173 Markbreit Ave, Cincinnati, OH 45209, USA
3131 Celeron Ave, Cincinnati, OH 45209, USA
3923 Taylor Ave, Cincinnati, OH 45209, USA
3818 Mt Vernon Ave, Cincinnati, OH 45209, USA
3772 Isabella Ave, Cincinnati, OH 45209, USA
3758 Isabella Ave, Cincinnati, OH 45209, USA
3756 Isabella Ave, Cincinnati, OH 45209, USA
3785 Ferdinand Pl, Cincinnati, OH 45209, USA
2887 Markbreit Ave, Cincinnati, OH 45209, USA
2888 Romana Pl, Cincinnati, OH 45209, USA
2737 Markbreit Ave, Cincinnati, OH 45209, USA
2736 Cox Ln, Cincinnati, OH 45209, USA
2744 Arbor Ave, Cincinnati, OH 45209, USA
3716 Maple Park Ave, Cincinnati, OH 45209, USA
2847 Markbreit Ave, Cincinnati, OH 45209, USA
3865 Hyde Park Ave, Cincinnati, OH 45209, USA
3621 Tamarack Ave, Cincinnati, OH 45207, USA
3609 Tamarack Ave, Cincinnati, OH 45207, USA
3605 Tamarack Ave, Cincinnati, OH 45207, USA
3551 Vista Ave, Cincinnati, OH 45208, USA
2613 Downing Dr, Cincinnati, OH 45208, USA
2444 Madison Rd UNIT 809, Cincinnati, OH 45208, USA
1312 Meier Ave, Cincinnati, OH 45208, USA
3065 Alpine Te 10 Cincinnati, OH 45202: No ROOFTOP result found.
3065 Alpine Te 10 Cincinnati, OH 45203: No ROOFTOP result found.
3065 Alpine Te 10 Cincinnati, OH 45204: No ROOFTOP result found.
3065 Alpine Terrace, Cincinnati, OH 45226, USA
3147 Willis Ave, Cincinnati, OH 45208, USA
3136 Willis Ave, Cincinnati, OH 45208, USA
3284 Nash Ave, Cincinnati, OH 45226, USA
668 Delta Ave, Cincinnati, OH 45226, USA
1333 Cryer Ave, Cincinnati, OH 45208, USA
2776 Sarita Pl, Cincinnati, OH 45208, USA
4327 31st Ave, Cincinnati, OH 45209, USA
2844 Minot Ave, Cincinnati, OH 45209, USA
2904 Minot Ave, Cincinnati, OH 45209, USA
2813 Robertson Ave, Cincinnati, OH 45209, USA
4226 Appleton St, Cincinnati, OH 45209, USA
3122 Minot Ave, Cincinnati, OH 45209, USA
4129 Ballard Ave #2, Cincinnati, OH 45209, USA
3301 Bach Ave, Cincinnati, OH 45209, USA
4114 Ballard Ave, Cincinnati, OH 45209, USA
3249 Berwyn Pl, Cincinnati, OH 45209, USA
4037 Paxton Ave, Cincinnati, OH 45209, USA
3325 Brotherton Rd, Cincinnati, OH 45209, USA
4154 Sherel Ln, Cincinnati, OH 45209, USA
4166 Sherel Ln, Cincinnati, OH 45209, USA
4117 Paxton Ave, Cincinnati, OH 45209, USA
4157 Pillars Dr, Cincinnati, OH 45209, USA
4109 Pillars Dr, Cincinnati, OH 45209, USA
4134 Pillars Dr, Cincinnati, OH 45209, USA
3627 Brotherton Rd, Cincinnati, OH 45209, USA
3542 Madison Park Ave, Cincinnati, OH 45209, USA
3512 Harrow Ave, Cincinnati, OH 45209, USA
3539 Harrow Ave, Cincinnati, OH 45209, USA
3440 Brotherton Rd, Cincinnati, OH 45209, USA
5025 Collinwood Pl, Cincinnati, OH 45227, USA
3806 Brotherton Rd, Cincinnati, OH 45209, USA
2700 Ashland Ave UNIT 33, Cincinnati, OH 45206, USA
2700 Ashland Ave UNIT 44, Cincinnati, OH 45206, USA
1349 Fleming St, Cincinnati, OH 45206, USA
2356 Park Ave UNIT 20, Cincinnati, OH 45206, USA
2356 Park Ave Unit 22, Cincinnati, OH 45206, USA
2356 Park Ave UNIT 38, Cincinnati, OH 45206, USA
2356 Park Ave UNIT 44, Cincinnati, OH 45206, USA
2356 Park Ave #58, Cincinnati, OH 45206, USA
2356 Park Ave #60, Cincinnati, OH 45206, USA
2356 Park Ave #62, Cincinnati, OH 45206, USA
2356 Park Ave #63, Cincinnati, OH 45206, USA
1023 Windsor St, Cincinnati, OH 45206, USA
2200 Victory Pw 1203 Cincinnati, OH 45202: No ROOFTOP result found.
2200 Victory Pw 1203 Cincinnati, OH 45203: No ROOFTOP result found.
2200 Victory Pw 1203 Cincinnati, OH 45204: No ROOFTOP result found.
2200 Victory Pw 1203 Cincinnati, OH 45205: No ROOFTOP result found.
2200 Victory Pkwy, Cincinnati, OH 45206, USA
1784 E McMillan St, Cincinnati, OH 45206, USA
2124 Gilbert Ave, Cincinnati, OH 45206, USA
2100 Fulton Ave # A5, Cincinnati, OH 45206, USA
2100 Sinton Ave APT 17, Cincinnati, OH 45206, USA
970 Hatch St APT 2, Cincinnati, OH 45202, USA
404 Reading Rd APT 303, Cincinnati, OH 45202, USA
514 Dandridge St, Cincinnati, OH 45202, USA
516 Dandridge St, Cincinnati, OH 45202, USA
518 Dandridge St, Cincinnati, OH 45202, USA
1410 Main St STE 3D, Cincinnati, OH 45202, USA
104 W 9th St APT 6A, Cincinnati, OH 45202, USA
104 W 9th St APT 6B, Cincinnati, OH 45202, USA
30 E Central Pw 502 Cincinnati, OH 45202: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45203: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45204: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45205: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45206: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45207: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45208: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45209: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45211: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45212: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45213: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45214: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45215: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45216: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45217: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45219: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45220: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45223: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45224: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45225: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45226: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45227: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45229: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45230: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45231: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45232: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45233: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45236: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45237: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45238: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45239: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45243: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45244: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45248: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45248 No valid address found.
30 E Central Pw 502 Cincinnati, OH 45202: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45203: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45204: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45205: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45206: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45207: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45208: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45209: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45211: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45212: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45213: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45214: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45215: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45216: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45217: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45219: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45220: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45223: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45224: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45225: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45226: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45227: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45229: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45230: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45231: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45232: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45233: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45236: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45237: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45238: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45239: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45243: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45244: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45248: No ROOFTOP result found.
30 E Central Pw 502 Cincinnati, OH 45248 No valid address found.
THE AMERICAN BUILDING, 30 E Central Pkwy, Cincinnati, OH 45202, USA
1150 Vine St UNIT 34, Cincinnati, OH 45202, USA
1150 Vine St UNIT 43, Cincinnati, OH 45202, USA
15 E Court St, Cincinnati, OH 45202, USA
15 E Court St #3, Cincinnati, OH 45202, USA
15 E Court St #4, Cincinnati, OH 45202, USA
1122 Race St #201a, Cincinnati, OH 45202, USA
1341 Main St, Cincinnati, OH 45202, USA
1207 E Vine St Cincinnati, OH 45202: No ROOFTOP result found.
1207 E Vine St Cincinnati, OH 45203: No ROOFTOP result found.
1207 E Vine St Cincinnati, OH 45204: No ROOFTOP result found.
1207 Vine St, Cincinnati, OH 45202, USA
1207 Vine St, Cincinnati, OH 45202, USA
1207 Vine St, Cincinnati, OH 45202, USA
1222 Republic St Apt 1, Cincinnati, OH 45202, USA
1222 Republic St Apt 2, Cincinnati, OH 45202, USA
1222 Republic St APT 4, Cincinnati, OH 45202, USA
1222 Republic St APT 5, Cincinnati, OH 45202, USA
15 W 4th St UNIT 404, Cincinnati, OH 45202, USA
15 W 4th St UNIT 408, Cincinnati, OH 45202, USA
400 Pike St UNIT 502, Cincinnati, OH 45202, USA
400 Pike St UNIT 502, Cincinnati, OH 45202, USA
400 Pike St UNIT 503, Cincinnati, OH 45202, USA
207 E University Ave UNIT 7A, Cincinnati, OH 45219, USA
207 E University Ave Unit 9a, Cincinnati, OH 45219, USA
207 E University Ave Unit 10a, Cincinnati, OH 45219, USA
207 Dorsey St, Cincinnati, OH 45202, USA
2527 Ravine St, Cincinnati, OH 45219, USA
615 Straight St, Cincinnati, OH 45219, USA
1868 Sunwalk Dr, Cincinnati, OH 45237, USA
5763 Marmion Ln, Cincinnati, OH 45212, USA
5706 Glengate Ln, Cincinnati, OH 45212, USA
6155 Fairway Dr, Cincinnati, OH 45212, USA
2918 Lawndale Ave, Cincinnati, OH 45212, USA
5695 Marmion Ln, Cincinnati, OH 45212, USA
6228 Bona Vista Pl, Cincinnati, OH 45213, USA
6414 Fairhurst Ave, Cincinnati, OH 45213, USA
6208 Girard Ave, Cincinnati, OH 45213, USA
3114 Auten Ave, Cincinnati, OH 45213, USA
5446 Lester Rd, Cincinnati, OH 45213, USA
6244 Kincaid Rd, Cincinnati, OH 45213, USA
5919 Pandora Ave, Cincinnati, OH 45213, USA
5816 Woodmont Ave, Cincinnati, OH 45213, USA
5899 E Woodmont Ave, Cincinnati, OH 45213, USA
5918 Kimberly Ave, Cincinnati, OH 45213, USA
1011 John St, Cincinnati, OH 45203, USA
419 Elizabeth St, Cincinnati, OH 45203, USA
353 W 4th St UNIT 206, Cincinnati, OH 45202, USA
353 W 4th St UNIT 302, Cincinnati, OH 45202, USA
353 W 4th St UNIT 409, Cincinnati, OH 45202, USA
353 W 4th St UNIT 410, Cincinnati, OH 45202, USA
353 W 4th St, Cincinnati, OH 45202, USA
353 W 4th St UNIT 506, Cincinnati, OH 45202, USA
353 W 4th St UNIT 602, Cincinnati, OH 45202, USA
353 W 4th St UNIT 608, Cincinnati, OH 45202, USA
353 W 4th St UNIT 608, Cincinnati, OH 45202, USA
353 W 4th St UNIT 609, Cincinnati, OH 45202, USA
6815 Sayler Ave, Cincinnati, OH 45233, USA
977 Seibel Ln, Cincinnati, OH 45238, USA
949 Edgetree Ln, Cincinnati, OH 45238, USA
1137 Nancy Lee Ln, Cincinnati, OH 45238, USA
1614 N Argyle Pl, Cincinnati, OH 45223, USA
1561 Spring Lawn Ave, Cincinnati, OH 45223, USA
3116 Epworth Ave, Cincinnati, OH 45211, USA
3020 Westbrook Dr, Cincinnati, OH 45238, USA
3026 Sandra Pl, Cincinnati, OH 45238, USA
5779 Timrick Ct, Cincinnati, OH 45238, USA
3517 McFarlan Rd, Cincinnati, OH 45211, USA
3138 Pershing Ct, Cincinnati, OH 45211, USA
3515 Craig Ct, Cincinnati, OH 45211, USA
3204 Buell St, Cincinnati, OH 45211, USA
3280 Daytona Ave, Cincinnati, OH 45211, USA
3317 McLelland Ave, Cincinnati, OH 45211, USA
521 Martin Luther King Dr W, Cincinnati, OH 45220, USA
521 Martin Luther King Dr W, Cincinnati, OH 45220, USA
10 Martin Luther King Dr E, Cincinnati, OH 45219, USA
11 Martin Luther King Dr E, Cincinnati, OH 45219, USA
30 Martin Luther King Dr E, Cincinnati, OH 45219, USA
32 Martin Luther King Dr E, Cincinnati, OH 45219, USA
521 Martin Luther King Dr W, Cincinnati, OH 45220, USA
521 Martin Luther King Dr W, Cincinnati, OH 45220, USA
521 Martin Luther King Dr W, Cincinnati, OH 45220, USA
4344 Dane Ave, Cincinnati, OH 45223, USA
2455 Aldermont Ct, Cincinnati, OH 45239, USA
2455 Aldermont Ct, Cincinnati, OH 45239, USA
2473 Aldermont Ct, Cincinnati, OH 45239, USA
2653 Gracewood Ave, Cincinnati, OH 45239, USA
5447 Cindy Ln, Cincinnati, OH 45239, USA
5425 Ruddy Ct, Cincinnati, OH 45239, USA
5425 Ruddy Ct, Cincinnati, OH 45239, USA
6344 Aspen Way, Cincinnati, OH 45224, USA
854 Nordyke Rd, Cincinnati, OH 45255, USA
1040 Nordyke Rd, Cincinnati, OH 45255, USA
1262 Mile Rd Eight Cincinnati, OH 45226: No ROOFTOP result found.
1262 Mile Rd Eight Cincinnati, OH 45230: No ROOFTOP result found.
1262 Mile Rd Eight Cincinnati, OH 45244: No ROOFTOP result found.
1262 Mile Rd Eight Cincinnati, OH 45255: No ROOFTOP result found.
1262 Mile Rd Eight Cincinnati, OH 45255 No valid address found.
1617 Yellowglen Dr, Cincinnati, OH 45255, USA
1690 Pinebluff Ln, Cincinnati, OH 45255, USA
8533 Linderwood Ln, Cincinnati, OH 45255, USA
8337 Northport Dr, Cincinnati, OH 45255, USA
1588 Yellowglen Dr, Cincinnati, OH 45255, USA
8657 Susanview Ln, Cincinnati, OH 45244, USA
8125 Witts Meadow Ln #41, Cincinnati, OH 45255, USA
1040 Portway Dr, Cincinnati, OH 45255, USA
1062 Mile Rd Eight Cincinnati, OH 45226: No ROOFTOP result found.
1062 Mile Rd Eight Cincinnati, OH 45230: No ROOFTOP result found.
1062 Mile Rd Eight Cincinnati, OH 45244: No ROOFTOP result found.
1062 Mile Rd Eight Cincinnati, OH 45255: No ROOFTOP result found.
1062 Mile Rd Eight Cincinnati, OH 45255 No valid address found.
2196 Finnegan Ln, Cincinnati, OH 45244, USA
1336 Wolfangel Rd, Cincinnati, OH 45255, USA
1317 Victor Ave, Cincinnati, OH 45255, USA
1316 Victor Ave, Cincinnati, OH 45255, USA
1315 Crotty Ct, Cincinnati, OH 45255, USA
1040 Asbury Rd, Cincinnati, OH 45255, USA
828 Woodlyn Dr S, Cincinnati, OH 45230, USA
782 Woodlyn Dr S, Cincinnati, OH 45230, USA
768 Woodlyn Dr S, Cincinnati, OH 45230, USA
1146 Alnetta Dr, Cincinnati, OH 45230, USA
1079 Alnetta Dr, Cincinnati, OH 45230, USA
1029 Markley Rd, Cincinnati, OH 45230, USA
808 Rosetree Ln, Cincinnati, OH 45230, USA
7382 Ridgepoint Dr Apt 9, Cincinnati, OH 45230, USA
1193 Joetta Dr, Cincinnati, OH 45230, USA
1360 Collinsdale Ave, Cincinnati, OH 45230, USA
7270 Ticonderoga Ct, Cincinnati, OH 45230, USA
7176 Bridges Rd, Cincinnati, OH 45230, USA
1482 Verdale Dr, Cincinnati, OH 45230, USA
1714 Grandle Ct, Cincinnati, OH 45230, USA
1426 Blueorchard Dr, Cincinnati, OH 45230, USA
6420 Evelyn Dr, Cincinnati, OH 45230, USA
6879 Salem Rd, Cincinnati, OH 45230, USA
6751 Sunray Ave, Cincinnati, OH 45230, USA
1720 Robinway Dr, Cincinnati, OH 45230, USA
2214 Clough Ridge Dr, Cincinnati, OH 45230, USA
7185 English Dr, Cincinnati, OH 45244, USA
7207 English Dr, Cincinnati, OH 45244, USA
11614 Kettering Dr, Cincinnati, OH 45251, USA
11408 Gravenhurst Dr, Cincinnati, OH 45231, USA
3103 Crest Rd, Cincinnati, OH 45251, USA
2361 Struble Rd, Cincinnati, OH 45231, USA
2808 Commodore Ln, Cincinnati, OH 45251, USA
2921 Commodore Ln, Cincinnati, OH 45251, USA
8961 Tripoli Dr, Cincinnati, OH 45251, USA
8950 Renetta Dr, Groesbeck, OH 45251, USA
7290 Jamerine Ct, Cincinnati, OH 45239, USA
2583 Royal Glen Dr, Cincinnati, OH 45239, USA
2390 Deblin Dr, Cincinnati, OH 45239, USA
6527 Memory Ln, Cincinnati, OH 45239, USA
2661 Breezy Way, Cincinnati, OH 45239, USA
6910 Rutherford Ct, Cincinnati, OH 45239, USA
3657 Benhill Dr, Cincinnati, OH 45247, USA
3749 Hermes Dr, Cincinnati, OH 45247, USA
6715 Cheviot Rd, Cincinnati, OH 45247, USA
6721 Cheviot Rd, Cincinnati, OH 45247, USA
Cincinnati/Northern Kentucky International Airport (CVG), 3087 Terminal Dr, Hebron, KY 41048, USA
3217 Rockacres Ct, Cincinnati, OH 45239, USA
3437 Rocker Dr, Cincinnati, OH 45239, USA
3492 Nandale Dr, Cincinnati, OH 45239, USA
3709 W Galbraith Rd APT 65, Cincinnati, OH 45247, USA

In [49]:
final_df[final_df['formatted_address'].isna()][['new_address','school_district']].apply(lambda row: get_address_details_with_cities(row['new_address'], row['school_district']), axis=1).apply(pd.Series)

,parcel_number,address,finsqft,use,year_built,transfer_date,amount,total_rooms,bedrooms,full_baths,...,taxes_paid,st_num,apt_num,street,city,state,new_address,formatted_address,longitude,latitude
156,076-0002-0295-00,30 502 E Central Pw,1217,550,1936,04-17-2009,"$232,640",5,2,2,...,"$8,197.88",30,502,E Central Pw,Cincinnati,OH,"30 E Central Pw 502 Cincinnati, OH",None,NaN,NaN
157,076-0002-0295-00,30 502 E Central Pw,1217,550,1936,04-17-2009,"$239,900",5,2,2,...,"$8,197.88",30,502,E Central Pw,Cincinnati,OH,"30 E Central Pw 502 Cincinnati, OH",None,NaN,NaN
248,500-0041-0248-00,1262 Eight Mile Rd,960,510,1931,06-15-2009,"$127,900",5,2,1,...,"$3,338.08",1262,Eight,Mile Rd,Cincinnati,OH,"1262 Mile Rd Eight Cincinnati, OH",None,NaN,NaN
257,500-0123-0141-00,1062 Eight Mile Rd,1142,510,1954,08-18-2009,"$175,000",5,2,2,...,"$4,541.93",1062,Eight,Mile Rd,Cincinnati,OH,"1062 Mile Rd Eight Cincinnati, OH",None,NaN,NaN
440,550-0102-0306-00,5340 47 Meadow Walk Ln,1212,550,2000,02-06-2009,"$100,000",5,2,2,...,"$2,607.32",5340,47,Meadow Walk Ln,Cincinnati,OH,"5340 Meadow Walk Ln 47 Cincinnati, OH",None,NaN,NaN
519,561-0016-0262-00,210 7 Miami Tr,1224,550,2006,07-15-2009,"$118,000",5,2,2,...,"$2,672.98",210,7,Miami Tr,Harrison,OH,"210 Miami Tr 7 Harrison, OH",None,NaN,NaN
520,561-0016-0265-00,220 2 Miami Tr,1224,550,2007,04-08-2009,"$167,000",5,2,2,...,"$2,091.10",220,2,Miami Tr,Harrison,OH,"220 Miami Tr 2 Harrison, OH",None,NaN,NaN
660,612-0070-0352-00,9482 Hunters Creek Dr,1156,550,1985,08-03-2009,"$140,000",5,2,2,...,"$2,765.68",9482,None,Hunters Creek Dr,Cincinnati,OH,"9482 Hunters Creek Dr Cincinnati, OH",None,NaN,NaN

In [45]:
# Concatenate the new columns to the original DataFrame
final_df = pd.concat([final_df, results_df], axis=1)

In [242]:
final_df.loc[final_df.formatted_address.isna(),'new_address'] =['1260 Garden Cir, Cincinnati, OH 45215', '6309 Murray Rd, Cincinnati, OH 45227','5355 Cooper Rd, Blue Ash, OH 45242']

In [245]:
results_df = final_df[final_df.longitude.isna()]['new_address'].apply(get_address_details_with_cities).apply(pd.Series)

In [252]:
final_df.loc[final_df.latitude.isna(),'formatted_address'] = results_df['formatted_address']
final_df.loc[final_df.latitude.isna(),'longitude'] = results_df['longitude']
final_df.loc[final_df.latitude.isna(),'latitude'] = results_df['latitude']

In [254]:
final_df.loc[:, 'num_amount'] = (final_df['amount']
                                  .str.replace('$','')
                                  .str.replace(',','')
                                  .astype(int))

In [255]:
final_df['year']  = pd.to_datetime(final_df['transfer_date']).dt.year
final_df['month']  = pd.to_datetime(final_df['transfer_date']).dt.month

In [399]:
final_df.loc[final_df.address.str.contains('Grace'),'formatted_address'] = final_df[final_df.address.str.contains('Grace')]['formatted_address'].str.replace('45208','45277') 
final_df.loc[final_df.address.str.contains('Myrtle'),'formatted_address'] = final_df[final_df.address.str.contains('Myrtle')]['formatted_address'].str.replace('Loveland, OH 45140','Cincinnati, OH 45242') 
final_df.loc[final_df.address.str.contains('Cherry'),'formatted_address'] = final_df[final_df.address.str.contains('Cherry')]['formatted_address'].str.replace('Loveland, OH 45140','Cincinnati, OH 45242') 
final_df.loc[(final_df.address.str.contains('Grove'))&(final_df.city.str.contains('Norwood')),'formatted_address'] = final_df[(final_df.address.str.contains('Grove'))&(final_df.city.str.contains('Norwood'))]['formatted_address'].str.replace('Norwood, OH 45212','Cincinnati, OH 45227') 
final_df.loc[final_df.address.str.contains('Jefferson'),'formatted_address'] = final_df.loc[final_df.address.str.contains('Jefferson')]['formatted_address'].str.replace('Loveland, OH 45140','Cincinnati, OH 45242') 
final_df.loc[final_df.address.str.contains('Floral'),'formatted_address'] = final_df.loc[final_df.address.str.contains('Floral')]['formatted_address'].str.replace('Norwood, OH 45212','Cincinnati, OH 45242') 
final_df.loc[final_df.address.str.contains('Floral'),'formatted_address'] = final_df.loc[final_df.address.str.contains('Floral')]['formatted_address'].str.replace('Norwood, OH 45212','Cincinnati, OH 45242') 
final_df.loc[final_df.address.str.contains('Deerfield'),'formatted_address'] = final_df.loc[final_df.address.str.contains('Deerfield')]['formatted_address'].str.replace('Loveland, OH 45140','Blue Ash, OH 45242') 
final_df.loc[final_df.address.str.contains('#3 West St'),'formatted_address'] = '3759 West St, Cincinnati, OH 45227, USA'
final_df.loc[final_df.address.str.contains('805 Park'),'formatted_address'] = '805 Park Ave, Terrace Park, OH 45174'
final_df.loc[final_df.address.str.contains('Laurel'),'formatted_address'] =final_df.loc[final_df.address.str.contains('Laurel')]['formatted_address'].str.replace('Madiera, OH 45243','Cincinnati, OH 45242') 
final_df.loc[final_df.address.str.contains('35 Euclid'),'formatted_address'] = '35 Euclid Ave, Cincinnati, OH 45215, USA'
final_df.loc[final_df.address.str.contains('510 Navaho'),'formatted_address'] = '510 Navaho Dr, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('511 Navaho'),'formatted_address'] = '511 Navaho Dr, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('408 Navaho'),'formatted_address'] = '408 Navaho Dr, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('206 Navaho'),'formatted_address'] = '206 Navaho Dr, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('4 Iroquois'),'formatted_address'] = '4 Iroquois Dr, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('6757 Maple'),'formatted_address'] = '6757 Maple St, Cincinnati, OH 45227, USA'
final_df.loc[final_df.address.str.contains('4843 Laurel'),'formatted_address'] = '4843 Laurel Ave, Cincinnati, OH 45242, USA'
final_df.loc[final_df.address.str.contains('4926 Laurel'),'formatted_address'] = '4926 Laurel Ave, Cincinnati, OH 45242, USA'
final_df.loc[final_df.address.str.contains('9221 Grandview'),'formatted_address'] = '9221 Grandview Ave, Cincinnati, OH 45242, USA'
final_df.loc[final_df.address.str.contains('720 W Main'),'formatted_address'] = '720 W Main St, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('789 Brown'),'formatted_address'] = '789 Brown St, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('1301 W Main'),'formatted_address'] = '1301 W Main St, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('1401 W Main'),'formatted_address'] = '1401 W Main St, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('73 Evergreen'),'formatted_address'] = '73 Evergreen Cir, Cincinnati, OH 45215, USA'
final_df.loc[final_df.address.str.contains('5037 Bristol'),'formatted_address'] = '5037 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('5028 240 Bristol'),'formatted_address'] = '5028 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('5022 207 Bristol'),'formatted_address'] = '5022 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('5032 Bristol'),'formatted_address'] = '5032 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('410 Washington Ave'),'formatted_address'] = '410 Washington Ave, Terrace Park, OH 45174, USA'
final_df.loc[final_df.address.str.contains('5041 Bristol'),'formatted_address'] = '5041 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('5016 204 Bristol'),'formatted_address'] = '5016 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('5059 226 Bristol'),'formatted_address'] = '5059 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('411 Washington Ave'),'formatted_address'] = '411 Washington Ave, Terrace Park, OH 45174, USA'
final_df.loc[final_df.address.str.contains('418 Washington Ave'),'formatted_address'] = '418 Washington Ave, Terrace Park, OH 45174, USA'
final_df.loc[final_df.address.str.contains('5081 Bristol'),'formatted_address'] = '5081 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('5035 214 Bristol'),'formatted_address'] = '5035 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('5057 Bristol'),'formatted_address'] = '5057 Bristol Ct, Loveland, OH 45140, USA'
final_df.loc[final_df.address.str.contains('9964 Washington Ave'),'formatted_address'] = '9964 Washington Ave, Loveland, OH 45140, USA'

In [400]:
final_df.loc[final_df.address.str.contains('5028 240 Bristol')]

,parcel_number,address,finsqft,use,year_built,transfer_date,amount,total_rooms,bedrooms,full_baths,...,street,new_address,formatted_address,longitude,latitude,num_amount,year,month,missing_house_number,city
256,621-0014-0177-00,5028 240 Bristol Ct,859,550,1994,04-09-2012,"$115,000",4,1,2,...,Bristol Ct,5028 Bristol Ct 240,"5028 Bristol Ct, Loveland, OH 45140, USA",-84.303547,39.272916,115000,2012,4,5028,NaN

In [401]:
def get_address_details(address):
    response = gmaps.geocode(address)
    formatted_address = response[0]['formatted_address']
    location = response[0]['geometry']['location']
    return {
        'formatted_address': formatted_address,
        'longitude': location['lng'],
        'latitude': location['lat']
    }

In [402]:
wrong_geocode = [
 '6977 Grace Ave'
,'4847 Myrtle Ave'
,'4912 Myrtle Ave'
,'5813 Grace Ave'
,'4200 Grove Ave'
,'4841 Myrtle Ave'
,'4850 Myrtle Ave'
,'8914 Cherry St'
,'9712 Jefferson Ave'
,'8914 Cherry St'
,'10889 Deerfield Rd'
,'9385 Floral Ave'
,'4200 Grove Ave'
,'6988 Grace Ave'
,'3759 #3 West St'
,'805 Park Ave'
,'8913 Cherry St'
,'4843 Laurel Ave'
,'8999 Cherry St'
,'35 Euclid Ave'
,'206 Navaho Dr'
,'408 Navaho Dr'
,'510 Navaho Dr'
,'511 Navaho Dr'
,'4 Iroquois Dr'
,'6757 Maple St'
,'4843 Laurel Ave'
,'4926 Laurel Ave'
,'9221 Grandview Ave'
,'720 W Main St'
,'789 Brown St'
,'1301 W Main St'
,'1401 W Main St'
,'73 Evergreen Cr'
,'5037 Bristol Ct'
,'5022 207 Bristol Ct'
,'410 Washington Ave'
,'5041 Bristol Ct'
,'5032 Bristol Ct'
,'5016 204 Bristol Ct'
,'411 Washington Ave'
,'418 Washington Ave'
,'5081 Bristol Ct'
,'5035 214 Bristol Ct'
,'9964 Washington Ave'
,'5028 240 Bristol Ct'
,'5059 226 Bristol Ct'
,'5057 Bristol Ct'
]

In [403]:
len(wrong_geocode)

48

In [404]:
final_df[final_df.address.isin(wrong_geocode)]

,parcel_number,address,finsqft,use,year_built,transfer_date,amount,total_rooms,bedrooms,full_baths,...,street,new_address,formatted_address,longitude,latitude,num_amount,year,month,missing_house_number,city
26,527-0030-0129-00,6977 Grace Ave,1427,510,1945,06-15-2009,"$158,000",7,4,2,...,Grace Ave,6977 Grace Ave,"6977 Grace Ave, Cincinnati, OH 45227, USA",-84.372584,39.149170,158000,2009,6,6977,NaN
48,621-0003-0003-00,789 Brown St,1429,510,1924,04-24-2009,"$123,000",6,2,2,...,Brown St,789 Brown St,"789 Brown St, Loveland, OH 45140, USA",-84.270244,39.269510,123000,2009,4,789,NaN
49,621-0006-0015-00,720 W Main St,1314,510,1993,06-09-2009,"$118,000",7,3,2,...,W Main St,720 W Main St,"720 W Main St, Loveland, OH 45140, USA",-84.270533,39.268196,118000,2009,6,720,NaN
51,621-0007-0049-00,4 Iroquois Dr,1260,510,1958,05-14-2009,"$110,000",5,3,1,...,Iroquois Dr,4 Iroquois Dr,"4 Iroquois Dr, Loveland, OH 45140, USA",-84.277813,39.264099,110000,2009,5,4,NaN
109,612-0040-0213-00,4847 Myrtle Ave,1357,510,1938,05-10-2010,"$159,000",7,3,1,...,Myrtle Ave,4847 Myrtle Ave,"4847 Myrtle Ave, Blue Ash, OH 45242, USA",-84.374822,39.231764,159000,2010,5,4847,NaN
131,621-0007-0247-00,510 Navaho Dr,1168,510,1999,04-29-2010,"$108,000",5,3,2,...,Navaho Dr,510 Navaho Dr,"510 Navaho Dr, Loveland, OH 45140, USA",-84.275016,39.264973,108000,2010,4,510,NaN
132,621-0007-0247-00,510 Navaho Dr,1168,510,1999,05-14-2010,"$138,000",5,3,2,...,Navaho Dr,510 Navaho Dr,"510 Navaho Dr, Loveland, OH 45140, USA",-84.275016,39.264973,138000,2010,5,510,NaN
138,621-0015-0110-00,5037 Bristol Ct,836,550,1990,04-23-2010,"$118,000",4,1,2,...,Bristol Ct,5037 Bristol Ct,"5037 Bristol Ct, Loveland, OH 45140, USA",-84.304450,39.272372,118000,2010,4,5037,NaN
139,523-0005-0082-00,5813 Grace Ave,1357,510,1930,05-26-2011,"$120,000",5,3,2,...,Grace Ave,5813 Grace Ave,"5813 Grace Ave, Cincinnati, OH 45227, USA",-84.391964,39.142769,120000,2011,5,5813,NaN
170,612-0040-0185-00,4912 Myrtle Ave,1474,510,1937,05-20-2011,"$147,000",8,3,2,...,Myrtle Ave,4912 Myrtle Ave,"4912 Myrtle Ave, Cincinnati, OH 45242, USA",-84.373898,39.232003,147000,2011,5,4912,NaN
190,621-0015-0126-00,5022 207 Bristol Ct,1334,550,1996,04-18-2011,"$122,500",5,2,2,...,Bristol Ct,5022 Bristol Ct 207,"5022 Bristol Ct, Loveland, OH 45140, USA",-84.303929,39.272912,122500,2011,4,5022,NaN
192,521-0001-0065-00,410 Washington Ave,1316,510,1950,06-11-2012,"$130,000",6,3,1,...,Washington Ave,410 Washington Ave,"410 Washington Ave, Terrace Park, OH 45174, USA",-84.306967,39.165311,130000,2012,6,410,NaN
210,527-0030-0146-00,4200 Grove Ave,1165,510,1939,06-18-2012,"$121,000",5,3,1,...,Grove Ave,4200 Grove Ave,"4200 Grove Ave, Cincinnati, OH 45227, USA",-84.373057,39.149497,121000,2012,6,4200,NaN
256,621-0014-0177-00,5028 240 Bristol Ct,859,550,1994,04-09-2012,"$115,000",4,1,2,...,Bristol Ct,5028 Bristol Ct 240,"5028 Bristol Ct, Loveland, OH 45140, USA",-84.303547,39.272916,115000,2012,4,5028,NaN
257,621-0015-0110-00,5037 Bristol Ct,836,550,1990,06-26-2012,"$135,000",4,1,2,...,Bristol Ct,5037 Bristol Ct,"5037 Bristol Ct, Loveland, OH 45140, USA",-84.304450,39.272372,135000,2012,6,5037,NaN
258,521-0001-0051-00,418 Washington Ave,1257,510,1950,06-27-2013,"$264,000",6,3,2,...,Washington Ave,418 Washington Ave,"418 Washington Ave, Terrace Park, OH 45174, USA",-84.308240,39.165320,264000,2013,6,418,NaN
281,527-0040-0429-00,6757 Maple St,932,510,1925,06-05-2013,"$240,000",6,3,1,...,Maple St,6757 Maple St,"6757 Maple St, Cincinnati, OH 45227, USA",-84.379923,39.147175,240000,2013,6,6757,NaN
299,612-0040-0215-00,4841 Myrtle Ave,840,510,1938,06-25-2013,"$144,000",5,2,1,...,Myrtle Ave,4841 Myrtle Ave,"4841 Myrtle Ave, Blue Ash, OH 45242, USA",-84.375130,39.231779,144000,2013,6,4841,NaN
327,621-0015-0108-00,5041 Bristol Ct,836,550,1990,05-10-2013,"$125,500",4,2,2,...,Bristol Ct,5041 Bristol Ct,"5041 Bristol Ct, Loveland, OH 45140, USA",-84.304300,39.272237,125500,2013,5,5041,NaN
374,612-0040-0320-00,4850 Myrtle Ave,1342,510,1935,04-25-2014,"$197,000",6,3,3,...,Myrtle Ave,4850 Myrtle Ave,"4850 Myrtle Ave, Cincinnati, OH 45242, USA",-84.374612,39.232122,197000,2014,4,4850,NaN
410,621-0014-0179-00,5032 Bristol Ct,926,550,1994,04-08-2014,"$125,000",4,1,2,...,Bristol Ct,5032 Bristol Ct,"5032 Bristol Ct, Loveland, OH 45140, USA",-84.303349,39.272872,125000,2014,4,5032,NaN
468,612-0010-0020-00,8914 Cherry St,1480,510,1948,04-08-2015,"$107,000",6,2,1,...,Cherry St,8914 Cherry St,"8914 Cherry St, Cincinnati, OH 45242, USA",-84.381669,39.220804,107000,2015,4,8914,NaN
473,612-0040-0134-00,9712 Jefferson Ave,1200,510,1947,04-22-2015,"$100,000",5,3,1,...,Jefferson Ave,9712 Jefferson Ave,"9712 Jefferson Ave, Cincinnati, OH 45242, USA",-84.374063,39.233387,100000,2015,4,9712,NaN
502,521-0003-0056-00,411 Washington Ave,1250,510,1952,04-07-2016,"$215,000",6,3,2,...,Washington Ave,411 Washington Ave,"411 Washington Ave, Terrace Park, OH 45174, USA",-84.307214,39.164796,215000,2016,4,411,NaN
522,527-0030-0146-00,4200 Grove Ave,1165,510,1939,05-04-2016,"$196,000",5,3,1,...,Grove Ave,4200 Grove Ave,"4200 Grove Ave, Cincinnati, OH 45227, USA",-84.373057,39.149497,196000,2016,5,4200,NaN
540,603-0015-0002-00,10889 Deerfield Rd,1098,510,1952,06-17-2016,"$187,000",4,2,1,...,Deerfield Rd,10889 Deerfield Rd,"10889 Deerfield Rd, Cincinnati, OH 45242, USA",-84.358415,39.260425,187000,2016,6,10889,NaN
544,612-0060-0027-00,9385 Floral Ave,1350,510,1951,06-21-2016,"$157,500",6,3,1,...,Floral Ave,9385 Floral Ave,"9385 Floral Ave, Cincinnati, OH 45242, USA",-84.382933,39.228336,157500,2016,6,9385,NaN
590,621-0015-0123-00,5016 204 Bristol Ct,1334,550,1994,05-03-2016,"$133,500",5,2,1,...,Bristol Ct,5016 Bristol Ct 204,"5016 Bristol Ct, Loveland, OH 45140, USA",-84.303914,39.273066,133500,2016,5,5016,NaN
593,521-0002-0094-00,805 Park Ave,1349,510,1930,04-18-2017,"$231,670",7,3,1,...,Park Ave,805 Park Ave,"805 Park Ave, Terrace Park, OH 45174",-84.312846,39.160939,231670,2017,4,805,NaN
626,527-0030-0126-00,6988 Grace Ave,1154,510,1945,05-01-2017,"$280,000",6,2,2,...,Grace Ave,6988 Grace Ave,"6988 Grace Ave, Cincinnati, OH 45227, USA",-84.371746,39.149459,280000,2017,5,6988,NaN
693,621-0014-0115-00,5059 226 Bristol Ct,912,550,1992,06-05-2017,"$167,000",6,2,2,...,Bristol Ct,5059 Bristol Ct 226,"5059 Bristol Ct, Loveland, OH 45140, USA",-84.303159,39.272500,167000,2017,6,5059,NaN
694,621-0014-0116-00,5081 Bristol Ct,1036,550,1991,05-12-2017,"$167,000",6,2,2,...,Bristol Ct,5081 Bristol Ct,"5081 Bristol Ct, Loveland, OH 45140, USA",-84.302269,39.272761,167000,2017,5,5081,NaN
764,612-0010-0007-00,8913 Cherry St,912,510,1928,05-29-2018,"$124,900",5,2,1,...,Cherry St,8913 Cherry St,"8913 Cherry St, Cincinnati, OH 45242, USA",-84.382354,39.220861,124900,2018,5,8913,NaN
768,612-0040-0163-00,4843 Laurel Ave,1295,510,1946,04-24-2018,"$142,000",7,4,1,...,Laurel Ave,4843 Laurel Ave,"4843 Laurel Ave, Cincinnati, OH 45242, USA",-84.374501,39.232809,142000,2018,4,4843,NaN
769,612-0040-0320-00,4850 Myrtle Ave,1342,510,1935,06-04-2018,"$244,500",6,3,3,...,Myrtle Ave,4850 Myrtle Ave,"4850 Myrtle Ave, Cincinnati, OH 45242, USA",-84.374612,39.232122,244500,2018,6,4850,NaN
798,621-0003-0003-00,789 Brown St,1429,510,1924,04-17-2018,"$157,000",6,2,2,...,Brown St,789 Brown St,"789 Brown St, Loveland, OH 45140, USA",-84.270244,39.269510,157000,2018,4,789,NaN
803,621-0007-0244-00,511 Navaho Dr,1168,510,1999,06-26-2018,"$226,000",5,3,3,...,Navaho Dr,511 Navaho Dr,"511 Navaho Dr, Loveland, OH 45140, USA",-84.275468,39.264712,226000,2018,6,511,NaN
813,621-0014-0093-00,5057 Bristol Ct,836,550,1990,06-21-2018,"$190,000",4,3,2,...,Bristol Ct,5057 Bristol Ct,"5057 Bristol Ct, Loveland, OH 45140, USA",-84.303380,39.272479,190000,2018,6,5057,NaN
816,621-0015-0111-00,5035 214 Bristol Ct,836,550,1990,04-16-2018,"$190,000",4,1,2,...,Bristol Ct,5035 Bristol Ct 214,"5035 Bristol Ct, Loveland, OH 45140, USA",-84.304552,39.272397,190000,2018,4,5035,NaN
850,527-0030-0146-00,4200 Grove Ave,1165,510,1939,04-02-2019,"$213,000",5,3,1,...,Grove Ave,4200 Grove Ave,"4200 Grove Ave, Cincinnati, OH 45227, USA",-84.373057,39.149497,213000,2019,4,4200,NaN
873,612-0010-0001-00,8999 Cherry St,1078,510,1949,06-14-2019,"$150,000",6,4,1,...,Cherry St,8999 Cherry St,"8999 Cherry St, Cincinnati, OH 45242, USA",-84.382152,39.221676,150000,2019,6,8999,NaN
879,612-0040-0140-00,4926 Laurel Ave,1279,510,1939,06-17-2019,"$180,000",6,4,2,...,Laurel Ave,4926 Laurel Ave,"4926 Laurel Ave, Cincinnati, OH 45242, USA",-84.373200,39.233022,180000,2019,6,4926,NaN
909,621-0006-0227-00,1401 W Main St,975,510,1975,06-05-2019,"$136,000",5,3,1,...,W Main St,1401 W Main St,"1401 W Main St, Loveland, OH 45140, USA",-84.278718,39.267985,136000,2019,6,1401,NaN
991,620-0092-0071-00,9964 Washington Ave,1242,510,1907,06-19-2020,"$130,000",4,2,1,...,Washington Ave,9964 Washington Ave,"9964 Washington Ave, Loveland, OH 45140, USA",-84.307940,39.165126,130000,2020,6,9964,NaN
1023,523-0005-0082-00,5813 Grace Ave,1357,510,1930,04-13-2021,"$288,000",5,3,2,...,Grace Ave,5813 Grace Ave,"5813 Grace Ave, Cincinnati, OH 45227, USA",-84.391964,39.142769,288000,2021,4,5813,NaN
1061,612-0060-0114-00,9221 Grandview Ave,1382,510,1945,06-30-2021,"$134,000",7,4,1,...,Grandview Ave,9221 Grandview Ave,"9221 Grandview Ave, Cincinnati, OH 45242, USA",-84.385443,39.226441,134000,2021,6,9221,NaN
1126,592-0011-0100-00,35 Euclid Ave,1138,510,1925,05-11-2022,"$299,500",5,4,2,...,Euclid Ave,35 Euclid Ave,"35 Euclid Ave, Cincinnati, OH 45215, USA",-84.475157,39.219158,299500,2022,5,35,NaN
1128,592-0023-0058-00,73 Evergreen Cr,1454,555,1983,05-12-2022,"$165,000",5,2,2,...,Evergreen Cr,73 Evergreen Cr,"73 Evergreen Cir, Cincinnati, OH 45215, USA",-84.476653,39.243722,165000,2022,5,73,NaN
1141,612-0010-0020-00,8914 Cherry St,1480,510,1948,06-24-2022,"$173,600",6,2,1,...,Cherry St,8914 Cherry St,"8914 Cherry St, Cincinnati, OH 45242, USA",-84.381669,39.220804,173600,2022,6,8914,NaN
1185,621-0006-0220-00,1301 W Main St,925,510,1955,05-10-2022,"$185,000",5,3,1,...,W Main St,1301 W Main St,"1301 W Main St, Loveland, OH 45140, USA",-84.276702,39.267886,185000,2022,5,1301,NaN
1188,621-0007-0160-00,408 Navaho Dr,1008,510,1957,04-26-2022,"$102,500",6,3,1,...,Navaho Dr,408 Navaho Dr,"408 Navaho Dr, Loveland, OH 45140, USA",-84.276455,39.266661,102500,2022,4,408,NaN
1189,621-0007-0160-00,408 Navaho Dr,1008,510,1957,05-05-2022,"$132,628",6,3,1,...,Navaho Dr,408 Navaho Dr,"408 Navaho Dr, Loveland, OH 45140, USA",-84.276455,39.266661,132628,2022,5,408,NaN
1254,621-0006-0216-00,206 Navaho Dr,1009,510,1956,05-11-2023,"$229,000",5,3,1,...,Navaho Dr,206 Navaho Dr,"206 Navaho Dr, Loveland, OH 45140, USA",-84.276044,39.269310,229000,2023,5,206,NaN

In [405]:
results_df = final_df[final_df.address.isin(wrong_geocode)]['formatted_address'].apply(get_address_details).apply(pd.Series)

In [406]:
len(results_df)

53

In [407]:
final_df.loc[final_df.address.isin(wrong_geocode),'formatted_address'] = results_df['formatted_address'].copy()
final_df.loc[final_df.address.isin(wrong_geocode),'longitude'] = results_df['longitude'].copy()
final_df.loc[final_df.address.isin(wrong_geocode),'latitude'] = results_df['latitude'].copy()

In [409]:
final_df.to_csv('finalsold2009_2023.csv')