In [1]:
import pandas as pd
import numpy as np
import time
import random
import os
import re

import spacy
from spacy.matcher import Matcher
from spacy.tokens import Span

In [2]:
fn = r'C:\Users\markd\projects\Hamilton County Homes'
os.chdir(fn)
# open it...
homes =pd.read_csv('2011 House Sales.csv')

In [3]:
homes

,Unnamed: 0,parcel_number,address,finsqft,use,year_built,transfer_date,amount,total_rooms,bedrooms,...,foreclosure,special_assessments,market_land_value,cauv_value,market_improvement_value,market_total_value,tif_value,abated_value,exempt_value,taxes_paid
0,0,001-0004-0255-00,6355 24 CORBLY RD,930,550,1984,07-08-2011,"$105,000",4,2,...,No,No,20000,0,119230,139230,0,0,0,"$2,968.52"
1,1,002-0002-0208-00,6129 CAMBRIDGE AVE,1152,510,1927,07-14-2011,"$141,500",7,4,...,No,Yes,23750,0,214250,238000,0,0,0,"$5,142.60"
2,2,002-0002-0259-00,1602 BRANDON AVE,1116,510,1939,04-26-2011,"$114,000",5,2,...,No,Yes,23510,0,139080,162590,0,0,0,"$3,484.05"
3,3,002-0004-0124-00,1609 CLIO AVE,922,510,1939,08-26-2011,"$109,360",5,2,...,No,Yes,24210,0,92110,116320,0,0,0,"$2,497.25"
4,4,002-0008-0021-00,6824 WHITEHALL AVE,1225,510,1952,07-08-2011,"$127,500",6,3,...,No,Yes,31300,0,126280,157580,0,0,0,"$3,417.63"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,1047,671-0027-0058-00,1178 THURNRIDGE DR,1250,510,1954,02-25-2011,"$112,000",5,3,...,No,No,37570,0,107430,145000,0,0,0,"$2,666.46"
450,1048,671-0027-0066-00,1194 THURNRIDGE DR,1054,510,1954,05-24-2011,"$131,500",5,3,...,No,No,37570,0,129960,167530,0,0,0,"$3,081.00"
451,1049,671-0027-0118-00,1304 THURNRIDGE DR,1167,510,1954,05-26-2011,"$127,500",5,3,...,No,No,33950,0,140170,174120,0,0,0,"$3,206.14"
452,1050,671-0029-0015-00,281 GENOMA DR,1134,510,1957,07-29-2011,"$129,900",5,3,...,No,No,38740,0,120720,159460,0,0,0,"$2,934.72"
453,1051,671-0030-0008-00,124 WAXWING DR,1026,510,1958,05-25-2011,"$151,500",6,3,...,No,No,37630,0,122370,160000,0,0,0,"$2,942.30"

In [4]:
homes = homes.drop('Unnamed: 0',axis=1)
homes.address = homes.address.str.title()

In [5]:
# Initialize the spaCy model and Matcher
nlp = spacy.load("en_core_web_sm")

def is_alphanumeric(token):
    """Check if the token text is alphanumeric."""
    return re.match("^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9]+$", token.text) is not None

def tag_address(address):
    """
    Tag the components of the address using the defined pattern.
    Returns a dictionary with the components tagged.
    """
    # List of spelled-out numbers to exclude from being tagged as 'NUM'
    spelled_out_numbers = {
        "zero", "one", "two", "three", "four", "five", "six", "seven", 
        "eight", "nine", "ten", "eleven", "twelve", "thirteen", 
        "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", 
        "nineteen", "twenty"
    }    
    
    doc = nlp(address)
    tagged_components = {'st_num': None, 'apt_num': None, 'street': None}

    # Loop through the tokens to find matches based on conditions
    for i, token in enumerate(doc):
        if i == 0 and token.pos_ == "NUM" and token.text.lower() not in spelled_out_numbers:
            tagged_components['st_num'] = token.text
        elif i == 1 and is_alphanumeric(token) and token.text.lower() not in spelled_out_numbers:
            tagged_components['apt_num'] = token.text
        elif i == 1 and token.pos_=='NUM'and token.text.lower() not in spelled_out_numbers:
            tagged_components['apt_num'] = token.text
        elif i > 0:
            # Concatenate the remaining tokens as the street name
            tagged_components['street'] = " ".join([tok.text for tok in doc[i:]])
            break

    return tagged_components

# Apply the tag_address function to the first 10 addresses for demonstration
address_parts = []
for address in homes.address:
    address_parts.append(tag_address(address))

In [6]:
parts = pd.DataFrame.from_dict(address_parts)

In [7]:
homes = pd.concat([homes,parts],axis=1)

In [8]:
school_city_map = {
    'CINCINNATI CSD':'Cincinnati', 
    'FOREST HILLS LSD':'Cincinnati',
    'NORTHWEST LSD (HAMILTON CO.)':'Cincinnati',
    'MOUNT HEALTHY CSD':'Cincinnati',
    'MARIEMONT CSD':'Mariemont', 
    'MADEIRA CSD':'Madeira', 
    'SOUTHWEST LSD (HAMILTON CO.)':'Harrison',
    'OAK HILLS LSD':'Cincinnati', 
    'THREE RIVERS LSD':'Cleves',
    'ST. BERNARD-ELMWOOD PLACE CSD':'Cincinnati',
    'FINNEYTOWN LSD':'Cincinnati',
    'WINTON WOODS CSD':'Cincinnati',
    'WYOMING CSD':'Wyoming', 
    'NORTH COLLEGE HILL CSD':'Cincinnati',
    'PRINCETON CSD':'Cincinnati',
    'SYCAMORE CSD':'Montgomery', 
    'INDIAN HILL EVSD':'Indian Hills',
    'DEER PARK CSD':'Cincinnati', 
    'LOVELAND CSD':'Loveland', 
    'NORWOOD CSD':'Norwood', 
    'READING CSD':'Reading'
}

zip_code_map = {
    'CINCINNATI CSD':[45202, 45203, 45204, 45205, 45206, 45207, 45208, 45209, 45211, 45212, 45213, 45214, 
                      45215, 45216, 45217, 45219, 45220, 45223, 45224, 45225, 45226, 45227, 45229, 45230, 
                      45231, 45232, 45233, 45236, 45237, 45238, 45239, 45243, 45244, 45248], 
    'FOREST HILLS LSD':[45226, 45230, 45244, 45255],
    'NORTHWEST LSD (HAMILTON CO.)':[45002, 45014, 45211, 45223, 45231, 45239, 45240, 45247, 45251, 45252],
    'MOUNT HEALTHY CSD':[45218, 45231, 45240, 45251],
    'MARIEMONT CSD':[45174, 45226, 45227, 45243], 
    'MADEIRA CSD':[45227, 45236, 45243], 
    'SOUTHWEST LSD (HAMILTON CO.)':[45002, 45013, 45030, 45033, 45041, 45052, 45053],
    'OAK HILLS LSD':[45002, 45051, 45204, 45211, 45233, 45238, 45247, 45248], 
    'THREE RIVERS LSD':[45001, 45002, 45052, 45233, 45248],
    'ST. BERNARD-ELMWOOD PLACE CSD':[45216, 45217, 45229],
    'FINNEYTOWN LSD':[45215, 45216, 45224, 45231],
    'WINTON WOODS CSD': [45215, 45218, 45231, 45240, 45246],
    'WYOMING CSD':[45215, 45216], 
    'NORTH COLLEGE HILL CSD':[45224, 45231, 45239],
    'PRINCETON CSD': [45040, 45069, 45215, 45240, 45241, 45242, 45246, 45249],
    'SYCAMORE CSD': [45140, 45236, 45241, 45242, 45249], 
    'INDIAN HILL EVSD':[45111, 45140, 45147, 45150, 45236, 45242, 45243, 45249],
    'DEER PARK CSD':[45236, 45242], 
    'LOVELAND CSD':[45140, 45249], 
    'NORWOOD CSD':[45207, 45208, 45209, 45212, 45229], 
    'READING CSD':[45215, 45236, 45237],
    'MILFORD CSD':[45140, 45147, 45150, 45174, 45243, 45244]
}

In [9]:
homes['city'] = homes.school_district.map(school_city_map)
homes['state'] = 'OH'

In [10]:
homes.loc[homes.street.str.contains(r'\bPw\b$',regex=True),'street'] =homes.loc[homes.street.str.contains(r'\bPw\b$',regex=True),'street'].str.replace('Pw','Pkwy')

In [11]:
homes.loc[homes.street.str.contains(r'\bTr\b$',regex=True),'street'] = homes.loc[homes.street.str.contains(r'\bTr\b$',regex=True),'street'].str.replace('Tr','Trace')
homes.loc[homes.street.str.contains(r'\bTr\b$',regex=True),'street'] = homes.loc[homes.street.str.contains(r'\bTr\b$',regex=True),'street'].str.replace('Te','Terrace')

In [12]:
homes.loc[homes.street.str.contains(r'\bMeadow Walk Ln\b$',regex=True),'street']

Series([], Name: street, dtype: object)

In [13]:
homes.loc[homes['apt_num'].isna(),'new_address'] = homes['st_num'] +' '+homes['street']+' '+homes['city']+', '+homes['state']
homes.loc[~homes['apt_num'].isna(),'new_address'] = homes['st_num'] +' '+homes['street']+' '+homes['apt_num']+' '+homes['city']+', '+homes['state']

In [14]:
final_df = homes.copy()

In [15]:
import googlemaps
from datetime import datetime

# Initialize the Google Maps client with your API key
gmaps = googlemaps.Client(key='AIzaSyD78cmVLurxyHHHpw9t-yf2YBT39zB5l6o')

def is_only_city_state_country_regex(address):
    # Regex pattern to match strings that might include a country
    pattern = r'^\D+, \D+(, \D+)?$'
    return re.match(pattern, address) is not None

def address_has_no_street_number(address):
    # Regex pattern to match street names without a leading street number
    # This regex assumes that the street number, if present, would typically appear at the start
    pattern = r'^[^\d]+\b\w*(?:[a-z]{2,10})\b'

    return re.match(pattern, address) is not None

def get_address_details_with_cities(address,school_district):
    for zip_code in zip_code_map[school_district]:
        full_address_query = f"{address} {zip_code}"
        # Make the geocoding request
        try:
            response = gmaps.geocode(full_address_query)
        except Exception as e:
            print(f"Geocoding failed for {full_address_query}: {e}")
            continue
        # Filtering the results for only ROOFTOP location types
        rooftop_results = [result for result in response if result['geometry']['location_type'] == 'ROOFTOP']
        if rooftop_results:
            result = rooftop_results[0] 
            formatted_address = result['formatted_address']
            location = result['geometry']['location']
        # # Check if the formatted address is not just city, state, country
            return {
                'formatted_address': formatted_address,
                'longitude': location['lng'],
                'latitude': location['lat']
            }    
        # Return if no rooftop result found for the current zip code
        # print(f"{full_address_query}: No ROOFTOP result found.")
        
    # If no valid address is found after all attempts
    print(full_address_query, "No valid address found.")
    return {'formatted_address': None, 'longitude': None, 'latitude': None}

In [16]:
results_df = final_df[['new_address','school_district']].apply(lambda row: get_address_details_with_cities(row['new_address'], row['school_district']), axis=1).apply(pd.Series)

5464 Hyacinth Te Cincinnati, OH 45248 No valid address found.
5233 S Eaglesnest Dr 33 Cincinnati, OH 45248 No valid address found.

In [17]:
# Concatenate the new columns to the original DataFrame
final_df = pd.concat([final_df, results_df], axis=1)

In [18]:
final_df[final_df.formatted_address.isna()]

,parcel_number,address,finsqft,use,year_built,transfer_date,amount,total_rooms,bedrooms,full_baths,...,taxes_paid,st_num,apt_num,street,city,state,new_address,formatted_address,longitude,latitude
266,550-0132-0175-00,5464 Hyacinth Te,1131,510,1958,07-18-2011,"$115,000",6,3,1,...,"$2,888.41",5464,None,Hyacinth Te,Cincinnati,OH,"5464 Hyacinth Te Cincinnati, OH",None,NaN,NaN
282,550-0220-0686-00,5233 33 S Eaglesnest Dr,1194,550,1985,06-28-2011,"$125,000",5,2,2,...,"$1,913.64",5233,33,S Eaglesnest Dr,Cincinnati,OH,"5233 S Eaglesnest Dr 33 Cincinnati, OH",None,NaN,NaN

In [26]:
final_df.loc[final_df.index==266,'new_address'] = '5464 Hyacinth Terrace, Cincinnati, OH 45248'
final_df.loc[final_df.index==266, 'latitude'] = 39.145206693026005
final_df.loc[final_df.index==266,'longitude'] = -84.63183266237333


final_df.loc[final_df.index==282,'new_address'] = '5233 Eaglesnest Dr, Cincinnati, OH 45248'
final_df.loc[final_df.index==282,'latitude'] = 39.18948061025197
final_df.loc[final_df.index==282,'longitude'] = -84.66031624198158

In [28]:
final_df.loc[:, 'num_amount'] = (final_df['amount']
                                  .str.replace('$','')
                                  .str.replace(',','')
                                  .astype(int))

In [29]:
final_df['year']  = pd.to_datetime(final_df['transfer_date']).dt.year
final_df['month']  = pd.to_datetime(final_df['transfer_date']).dt.month

In [30]:
def get_address_details(address):
    response = gmaps.geocode(address)
    formatted_address = response[0]['formatted_address']
    location = response[0]['geometry']['location']
    return {
        'formatted_address': formatted_address,
        'longitude': location['lng'],
        'latitude': location['lat']
    }

In [32]:
final_df.to_csv('finalhomes2011.csv')